.content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.content>p{
    color: #898989;
    font-size: 1.3vw;
    word-spacing: 3px;
    letter-spacing:0px;
    word-spacing: 2px;
}

.heading4{
    font-size: 2.3rem;
    font-family: 'Poppins';
    font-weight: 800;
    line-height: 130%;
}

.heading4>span{
    color: #0C6EE7;
    font-weight: 400;
}

.images{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.images-img{
    height: 400px;
    width: 100%;
    align-self: flex-end;
    z-index: 1;
    display: flex;
}

.box22{
    height: 50px;
    background-color: #EFEFEF;
    width: 50px;
}

.help{
    padding-left: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#hh{
    display: none;
}

.box-handel{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 250px;
    height: 150px;
    background: #EFEFEF;
    /* transform: translateY(40px); */
}

.box2{
    width: 80px;
    height: 80px;
    background-color: #EFEFEF;
    align-self: flex-end;
    /* transform: translateY(40px); */
}

@media (max-width:900px) {
    .help{
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
    }
    .box2,.box,.box-handel,.box22{
        display: none;
    }
    .images{
        width: 80%;
        margin-top: 50px;
    }
    .heading4{display: none;}
    #hh{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .content>p{
        font-size: 1rem;
        padding: 0;
        text-align: justify;
    }
    .content{
        width: 80%;
        margin-top: 50px;
    }
}

@media (max-width:500px){
    .images{
        width: 100%;
    }
    .content{
        width: 90%;
    }
    .cardd{
        width: 90%;
    }
}